.headerfixed{
    width: 100vw;
    height: 12%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 100;

}
.headerabs{
    width: 100vw;
    height: 12%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 100;

}
.icondiv{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 38%;
    height: 18%;
    margin-left:-70px;
}
.modeldiv{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 40px;
    box-sizing: border-box;    
}
.s{
    font-size: medium;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.three{
    font-size: medium;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.x{
    font-size: medium;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.y{
    font-size: medium;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.solarroof{
    font-size: medium;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.solarpanel{
    font-size: medium;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.elements{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 40px;
}
.shop{
    font-size: medium;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.account{
    font-size: medium;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.menu{
    font-size: medium;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}